<script>
$(document).ready(function(){
  $('.child_device').bind('ajax:success', function(evt, data, status, xhr) {
      if($(this).find('.activate').val() == "Active")
        $(this).find('.activate').val("Disabled");
      else
        $(this).find('.activate').val("Active");
    })
    .bind("ajax:error", function(evt, xhr, status, error) {
      alert("Ошибка");
    });
})
$(document).ready(function(){
  $('.power').bind('ajax:success', function(evt, data, status, xhr) {
      if($(this).find('.status').val() == "ПУСК")
        $(this).find('.status').val("СТОП");
      else
        $(this).find('.status').val("ПУСК");
    })
    .bind("ajax:error", function(evt, xhr, status, error) {
      alert("Ошибка");
    });
})
</script>
<%= render 'layouts/admin_menu' %>
<table style="text-align: center; margin: auto; margin-top: 40px">
  <tr>
    <td>#</td>
    <td>Устройство</td>
    <td>ID</td>
    <td>Активность</td>
    <td>Пользователь</td>
    <td>Состояние</td>
    <td>Управление</td>
  </tr>
  <%i = 1%>
  <% for device in @devices%>
    <tr class="device">
  		<td><%=i%></td>
      <%i += 1%>
      <td><%=device.name%></td>
      <td><%=device.UID%></td>
      <td><%=device.updated_at%></td>
      <td><%=User.find(device.user_id).email%></td>
      <td>
      <%if device.active == 1%>
        <%text = "Active"%>
      <%else%>
        <%text = "Disabled"%>
      <%end%>
      <%= button_to text, admin_device_path(device), url: admin_devices_path, remote: true, class: "activate", params: {"intent" => "child"}, form_class: 'child_device', data: { confirm: 'Вы уверены, что хотите изменить состояние устройства пользователя?' } %>
      </td>
      <%if device.status == 1%>
        <%text = "СТОП"%>
      <%else%>
        <%text = "ПУСК"%>
      <%end%>
      <td>
      <%= button_to text, admin_device_path(device), remote: true, class: "status",  params: {"intent" => "status"}, form_class: 'power', data: { confirm: 'Вы уверены, что хотите изменить состояние устройства пользователя?' } %>
      </td>
    </tr>
  <%end%>
</table>
</div>