<%= form_for(device) do |f| %>
  <% if device.errors.any? %>
    <div id="error_explanation">
       <h2>Устройство не было сохранено. <%="#{@device.errors.count.to_s} #{I18n.t :error, :count => @device.errors.count}:" %> </h2>

      <ul>
      <% device.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Имя" %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit submit%>
  </div>
<% end %>
